@use '../variables' as *;

footer {
    padding: 2rem 0px;
    color: $color-white;
    background-color: $color-primary;

    .row {
        display: grid;

        @media (min-width: $bp-small) {
            grid-template-columns: repeat(2, 1fr);        
        }

        @media (min-width: $bp-large) {
            display: flex;  
        }
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    padding-top: 0;

    @media (max-width: 768px) {
        flex-direction: column;
  }
}

.social-links {
    margin: 6px 0px 32px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
    a {
        color: $color-white;
        border: 1px solid $color-transparent;
        text-decoration: none;
        padding: 2px;
        display: block;

        &:hover {
            border: 1px solid $color-white;
            border-radius: 2px;
        }
    }

    .icon {
        fill: $color-white;
        width: 100%;
        max-width: 40px;
        max-height: 40px;
    }
} 
