
@use '../variables' as *;


#timeline-container {
    overflow: auto;
    margin-top: .5rem;
    margin-bottom: 3rem;
 
      .inner-container {
      max-width: 1000px;
      margin: 0 auto;
  
      .heading {
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
       color: $color-black;
        margin-top: 0;
      }
    }
  }
  .timeline-item {
    text-align: left;
    color: $timeline-primary;
    font-weight: 700;
    font-size: 1.75rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-left: 4px solid $timeline-primary;
    position: relative;
    list-style-type: none;
    --item-width: calc(100%);
  
    &::before {
      content: "";
      border-radius: 50%;
      width: 1.25rem;
      height: 1.25rem;
      background-color: #fff;
      border: 4px solid #0D8944;
      opacity: 1;
      position: absolute;
      left: -.75rem;
      top: 1.25rem;
    }

    &.active::before {
        background-color: #0D8944; // Fill circle with the same green color
        border: 4px solid #0D8944; // Keep the border in the same color
      }
  
    .timeline-details {
      margin-top: .75rem;
  
      .subheader {
        font-size: 1.25rem;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: $color-black;
        margin-bottom: 0.5rem;
        list-style: none; /* No bullets for subheader */
      }
  
      .details-list {
        margin-left: 1.5rem;
        list-style: disc; /* Regular bullets for this list */
        font-size: 1.15rem;
        color: $color-black;  
        font-weight: 500;
      }
    }
  }
  
  @media only screen and (max-width: 800px) {
    .timeline-item {
      padding: 1rem 1.5rem 1rem 0.5rem;
  
      .timeline-details {
        .subheader {
          font-size: 1rem;
        }
  
        .details-list {
          font-size: 1rem;
        }
      }
    }
  }
  