@use "../variables" as *;

.modal-wrapper {
	.modal {
		max-width: calc(100% - 1rem * 2);
		border-radius: .5em;
    	padding: 1rem;

		&::backdrop {
			background-color: rgba(0, 0, 0, 0.5);
		}

		&__header {
			display: flex;
			justify-content: space-between;
			padding-top: 0;
		}

		.close-modal {
			margin: 0;
			padding: 2px 4px;
			border: 1px solid $color-transparent;
			border-radius: .2em;

			&::after {
				content: "X";
			} 

			&:hover {
				border: 1px solid $color-primary;
			}
		}
	}
}
