@use '../variables' as *;

#progressbar {
    vertical-align: top;
    width: 100%;
    height: 7px;
    appearance: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

progress {
    color: $color-primary;
    background-color: $color-transparent;

    &::-webkit-progress-bar {
        background-color: $color-transparent;
        width: 100%;
    }

    &::-webkit-progress-value {
        background-color: $color-tertiary !important;
    }

    &::-moz-progress-bar {
        background-color: $color-tertiary !important;
    }
}
