@use "../variables" as *;

.survey-wrap {
	border: 2px solid $color-secondary;
	max-width: 900px;
	margin-bottom: 2rem;
	border-radius: 5px;

	h1.sg-title {
		display: none; /* Hide the title of embedded survey */
	}

	.sg-button {
		min-width: 40px; /* Set the minimum width of the button in embedded survey */
	}
}
