@use '../variables' as *;

.swiper {
    margin: 40px 0;
    overflow-y: visible;

	img {
		object-fit: cover;	
		width: 100%;
	}

    .swiper-pagination {
        position: relative;
    }

	.swiper-button-next,
	.swiper-button-prev {
		background-color: $color-white;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		padding: 4px;
		border: 2px solid $color-primary;
		transition: $transition;

		&:hover {
			transform: scale(1.2);
		}

		@media (min-width: $bp-medium) {
			width: 50px;
			height: 50px;
		}

		svg {
			fill: $color-primary;
		}

		&::after {
			content: 'hello';
		}
	}
}