@use '../variables' as *;

.timeline-container {
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;

    .inner-container {
        max-width: 1000px;
        margin: 0 auto;
    }
}

 .timeline-item {
    text-align: left;
    color: $color-black;
    font-weight: 700;
    font-size: 1.75rem;
    padding: 1px 20px;
    border-left: 4px solid $color-secondary;
    position: relative;
    list-style-type: none;
    --item-width: calc(100%);

    &::before {
        content: "";
        border-radius: 50%;
        width: 1.25rem;
        height: 1.25rem;
        background-color: #fff;
        border: 4px solid $color-secondary;
        opacity: 1;
        position: absolute;
        left: -.75rem;
        top: 22px;
    }

    &.active::before {
        background-color: $color-secondary;
        border: 4px solid $color-secondary;
    }

    .timeline-details {
        margin-top: .75rem;

        .subheader {
            font-size: 1.25rem;
            font-weight: 600;
            font-family: $font-family-primary;
            color: $color-black;
            margin-bottom: 0.5rem;
            list-style: none;
        }

        .details-list {
            margin-left: 1.5rem;
            list-style: disc;
            font-size: 1.15rem;
            color: $color-black;
            font-weight: 500;
        }
    }
}