@use 'variables' as *;

// HTML Elements

html {
  scroll-padding-top: 3%;
  scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: $font-family-primary;
    font-size: 1rem;
    line-height: 1.5em;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }

    @media (min-width: $bp-medium) {
        font-size: 1.2rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-secondary;
    font-weight: 500;
    line-height: 1.25em;
    margin: 2rem 0 1rem;
}

h1 {
    font-size: clamp(2.8rem, 5vw, 4rem);
    font-family: $font-family-italianno;
    margin-block: 3rem 2rem;
}

h2,
.h2 {
    font-size: 2rem;
    margin-top: 3rem;

    @media (min-width: $bp-small) {
        font-size: 2.4rem;
    }
}

h3,
.h3 {
    font-size: 1.5rem;

    @media (min-width: $bp-small) {
        font-size: 1.7rem;
    }
}

h4,
.h4 {
    font-size: 1.2rem;
    margin-bottom: 0;

    @media (min-width: $bp-small) {
        font-size: 1.4rem;
    }
}

h5,
.h5 {
    font-size: 1.1rem;

    @media (min-width: $bp-small) {
        font-size: 1.3rem;
    }
}

h6,
.h6 {
    font-size: 1rem;

    @media (min-width: $bp-small) {
        font-size: 1.2rem;
    }
}

p,ul,ol,button {
    margin-bottom: 1rem;
}

strong {
    font-weight: 700;
}

ul, ol {
    padding-left: 1em;
}

a {
	color: $color-tertiary;
    transition: $transition;
	cursor: pointer;
    text-decoration: 2px underline currentColor;

	&:visited {
		color: $color-tertiary;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-secondary;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

// Special Site-wide Classes
.hide {
    display: none;
}
 
.container {
    max-width: $bp-xlarge;
    padding: 0 1rem;
    margin: 0 auto;

    &-fluid {
        max-width: 100%;
    }

    @media (min-width: $bp-medium) {
        padding: 0 2rem;
    }
}

main {
    padding: 40px 0;
}

main .container {
    max-width: $bp-medium;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;

    @media (min-width: $bp-small) {
        flex-direction: row;
    }
}

.col {
    flex: 1;
}

a,
button:not(.dropdown-btn),
input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: pointer;

    &:focus {
        outline: 2px dotted $color-secondary;
    }
}