/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Italianno';
  src: url('/fonts/Italianno-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}