---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Abilities Page">

	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Abilities Page</h2>
				<p>This is the Abilities page. More content will be added here soon.</p>
			</div>
		</div>
	</div>

</Layout>