---

---

<!-- This element is not visible on the front-end -->
<div class="zoom-overlay">

	<div class="button-container">
		<button class="zoom-out btn btn-primary">–</button>
		<button class="zoom-in btn btn-primary">+</button>
		<button class="close-btn btn btn-primary">Close</button>
	</div>

	<div class="zoom-overlay__content">
		<img class="zoom-overlay__image">
	</div>

	<div class="zoom-overlay__caption"></div>
</div> <!-- .zoom-overlay -->
