---
---
<div>
  <input type="checkbox" class="checkbox" id="theme-toggle" checked>
  <label for="theme-toggle" class="checkbox-label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <span class="ball"></span>
  </label>
</div>

<script src="../scripts/theme-toggle.js"></script>
