---
import Navigation from "./Navigation.astro";
import Footer from "./Footer.astro";
import ImageZoomOverlay from "../components/ImageZoomOverlay.astro";
import abyssLogo from '../assets/abyss-logo.png';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>

    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="Abyss - The Drowned One. Explore the haunting tale of Captain Sebastián Cortez and his transformation into the herald of the deep."/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="https://abyss-demo.participate.online" />

    <title>{title}</title>

    <!-- Icons/favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href={abyssLogo.src} />
    <link rel="icon" type="image/png" sizes="32x32" href={abyssLogo.src} />
    
    <!-- CDN CSS Fetch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" media="all" />


	</head>
	<body class="dark-theme">
        <Navigation />
		<main>
            <div class="container">
                <h1>{title}</h1>
            </div>

            <slot />

        </main>
        <Footer />
        <ImageZoomOverlay />
	</body>
</html>

<style lang="scss" is:global>
    @use "../styles/style.scss" as *;
</style>
