---
import ThemeToggle from '../components/ThemeToggle.astro';

const currentPage = Astro.url.pathname;
---

<div class="sticky-top">
    <div class="container navbar">
        <button 
            class="navbar__toggle" 
            type="button" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar__toggle__icon"></span>
        </button>

        <a class="logo" href="/abyss-demo/">
					<img src="../src/assets/abyss-logo.png" alt="PROJECTUPDATE"/> <!-- PROJECTUPDATE src, alt-->
				</a>

        <div class="navbar__nav">
            <ul class="navbar__nav-menu">
                <li class="nav-item">
                    <a class={currentPage === '/abyss-demo/' ? 'current-page nav-link' : 'nav-link'} href="/abyss-demo/">Lore</a>
                </li>

                <li class="nav-item">
                    <a class={currentPage === '/abyss-demo/abilities' ? 'current-page nav-link' : 'nav-link'} href="/abyss-demo/abilities">Abilities</a>
                </li>

                <li class="nav-item">
                    <a class={currentPage === '/abyss-demo/equipment' ? 'current-page nav-link' : 'nav-link'} href="/abyss-demo/equipment">Equipment</a>
                </li>
            </ul> <!-- .navbar__nav-menu -->
        </div>

        <ThemeToggle />

    </div> <!-- .navbar -->
</div> <!-- .container-fluid -->


<script src="../scripts/navigation.js"></script>